extends layout 

block content

    h1 #{dragon.name}

    p #{dragon.description}
    ul 
        li Height : #{dragon.height} 
        li Weight : #{dragon.weight}
        li Speed : #{dragon.speed}

    a(href=dragon.category.url) #{dragon.category.name}

    h5 Favorite Foods are
    ul 
        each food in dragon.favfood
            li 
                a(href=food.url) #{food.name}
    hr
    p
        a(href=dragon.url+ '/delete') Delete Dragon
    p
        a(href=dragon.url+'/update') Update Details
                