extends layout

block content

    h1= title

    if food_dragons.length
        p #[strong delete the following dragons before attempting to delete this food ]
        each dragon in food_dragons
            a(href=dragon.url) #{dragon.name}
            p #{dragon.description}
    else
        p Do you really want to delete this food ?

        form(method='POST' action='')
            input.form-control(type="hidden", name="id" value=food._id)
            button.btn.btn-danger(type="submit") Delete